# ── PostgreSQL (igual que en pgAdmin) ────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_NAME=laburo_db
DB_USER=postgres
DB_PASSWORD=Deapool1243

# ── Servidor Express ─────────────────────────────────────────
PORT=3000
